@{
  Layout = "_Layout";
}
@using BeastRescueClient.Models

<h1>@Model.Name</h1>

<ol>
    <ul>
        <img src="@Model.Photo" width="300px"/>
        <li>ID: @Model.BeastId</li>
        <li>Name: @Model.Name</li>
        <li>Species: @Model.Species</li>
        <li>Temperment: @Model.Temperment</li>
        <li>Description: @Model.Description</li>
        <li>Age: @Model.Age</li>
        <li>Gender: @Model.Gender</li>
    </ul>
    <br>
</ol>