@{
  Layout = "_Layout";
}
@using BeastRescueClient.Models

<h1>@Model.Name</h1>

<img src="@Model.Photo" width="300px"/>
<div class="deets">
  @Model.Species | @Model.Age years old | @Model.Gender<br />
  <p>Meet @Model.Name! @Model.Name @Model.Description. In temperment, @Model.Name is @Model.Temperment.</p>
  <p>Please <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">contact us</a> to meet @Model.Name in person</p>
</div>